.modern{
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-image: url(../img/bubbles.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 100;
	animation:showUp .3s ease-out;
	display:flex;
	justify-content: center;
	align-items: center;

	&__close{
		background-color: $color-secondary;
		padding:.5rem;
		line-height: 0;
		font-size: 4rem;
		position:absolute;
		top:1rem;
		right:1rem;
		color:white;
		cursor:pointer;
		border-radius: 3px;
		z-index: 103;

		@include respond(s){
			top:1rem;
			right:1rem;
			font-size: 2rem;
		}
	}

	&__main{
		width:90%;
		height:90%;
		background-image: linear-gradient(
			to bottom right, 
			transparent 5%, 
			rgba(#e5005a,.1) 6%, 
			rgba(#e5005a,.2) 10%, 
			transparent 11%,
			transparent 84%,
			rgba(#e5005a,.3) 85%,
			rgba(#e5005a,.1) 90%,
			transparent 91%,
		);
		box-shadow: 0 0 20rem rgba(white,.1);
		display:grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(6, 1fr);

		&--menu{
			grid-column: 2/10;
			grid-row: 2/3;
			display:flex;
			justify-content: space-around;
			align-items: flex-start;
			list-style:none;
			@include respond(s){
				grid-column: 1/-1;
			}

			li{

				color:white;
				border-radius: 100px;
				padding:.8rem 2rem;
				font-family: $font-poiret;
				font-size: 1.8rem;
				letter-spacing: .2rem;
				@include respond(s){
					padding:.5rem 1rem;
					font-size: 1.6rem;
					letter-spacing: .1rem;
				}
			}
		}

		&--header{	

			grid-column: 2/8;
			grid-row: 3/5;
			position:relative;
			border-radius: 50%;
			display:flex;
			flex-direction: column;
			justify-content: center;

			@include respond(s){
				grid-column: 2/-2;
			}

			&:hover{

				&-blue{
					animation:rotate .8s ease-in;
				}
			}
			

			&-blue{
				border-radius: 50px;
				position:absolute;
				top:0;
				right:0;
				width:2px;
				height:100%;
				background-color: $color-neon-blue;
				//box-shadow: .1rem 0 .2rem rgba($color-neon-blue,.9);
				animation:saturate 2s infinite;
				animation-delay: .5s;
				
			}
			&-red{
				border-radius: 50px;
				position:absolute;
				top:0;
				right:0;
				width:50%;
				height:2px;
				background-color: $color-neon-red;
				//box-shadow: .1rem 0 .2rem rgba($color-neon-blue,.9);
				animation:saturate 2s infinite;
			}
			&-yellow{
				
				position:absolute;
				bottom:0;
				right:0;
				width:50%;
				height:2px;
				background-color: $color-neon-pink;
				//box-shadow: .1rem 0 .2rem rgba($color-neon-blue,.9);
				animation:saturate 2s infinite;
				animation-delay: 1s;
			}

			h1{
				color:white;
				font-family: $font-poiret;
				font-size: 10rem;
				line-height: 1;
				font-weight: 300;
				letter-spacing: .2rem;
			}
		}
	}
}