.i{
	font-size: 3rem;
	margin-right: 1rem;
	text-shadow: .5rem .5rem 1rem rgba(0,0,0,.3);

	@include respond(xl){
		font-size: 2.2rem;
		margin-right: .5rem;
	}
	@include respond(xs){
		font-size: 1.6rem;
	}
	@include respond(xxl){
		font-size: 4rem;
	}
	&-white{
		color:white;
	}
	&-blue{
		color:$color-primary;
	}
	&-green{
		color:yellowgreen;
	}
	&-red{
		color:$color-secondary;
	}
	&-yellow{
		color:$color-tertiary-light;
	}
}


.blue{
	color:$color-primary;
}
.blueG{
	color:#4285F4;
}
.darkblue{
	color:lighten($color-primary-dark,11%);
}
.green{
	color:yellowgreen;
}
.greenG{
	color: #0F9D58;
}
.red{
	color:$color-secondary;
}
.yellow{
	color:$color-tertiary-light;
}