
//	COLORS

//blue
$color-primary: #36abb5;

$color-primary-dark:#0A2224;
//red brick
$color-secondary-dark:#b54036;	
//orange-rose
$color-secondary: #fe5e51;
//brown
$color-tertiary-dark:#b58036;
//orange
$color-tertiary: #ffb554;
//yellow
$color-tertiary-light: #f6db5f;

$color-green: #36b540;
// FONTS

//header
$font-raleway: 'Raleway', sans-serif;
//big paragraphs
$font-poiret:'Poiret One', cursive;
//paragraphs
$font-arvo: 'Arvo', serif;

$font-dancing: 'Dancing Script', cursive;
//google
$font-google:'Cormorant Garamond', serif;